*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
/*intro*/
.intro{
    min-height: 616px;
    background-image: url(./imagenes/fondo.png);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0%;
    padding: 0%;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}
.header-main{
    width: 100%;
    min-height: 100px;
}
@media(min-width:769px){
    .intro {
        margin-bottom: 0%;
        min-height: 616px;
        
        
        
        
        align-content: space-between;
       
        align-items: stretch;
    }
}


/*pagina soy-fran*/

.soy-fran{
    display: flex;
    height: 538px;
   
    flex-direction: column;
    background-color: black;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

}
.subtitulos{
    font-family: "Indie Flower";
    font-size: 48px;
    letter-spacing: -2px;
    text-align: center;
    color:#FAFAFA;

    


}
.texto-soy-fran{

    font-size: 18px;
    font-family: "Indie Flower";
    color:#FAFAFA;
    text-align:left;
    padding: 30px;
}
.boton-check{
    height: 80px;
    width: 80px;
    align-items: center;
}
@media(min-width:769px){
    .soy-fran{
        display: flex;
        min-height: 538px;
       
        flex-direction:row-reverse;
        background-color: black;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
    
    }
    .subtitulos{
        font-family: "Indie Flower";
        font-size: 48px;
        letter-spacing: -2px;
        text-align:left;
        color:#FAFAFA;
    
        
    
    
    }
    .texto-soy-fran{
        font-size: 24px;
        font-family: "Indie Flower";
        color:#FAFAFA;
        text-align:left;
        padding: 0px;
        height: 165px;
        width: 532px;
    }
    .boton-check{
        height: 211px;
        width: 211px;
        align-items: center;
    }

}
/*Hoja Servicios*/

.servicios{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;

}
.div-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 61px;
    margin-top: 58px;
}
.subtitulos-servicios{
    font-family: "Indie Flower";
    font-size: 48px;
    letter-spacing: -2px;
    text-align: center;
    color:#FAFAFA;
   margin-top:50px;
   margin-bottom: 0%;
}
.subtitulos-h3{
    font-family: "Indie Flower";
    font-weight: 700;
    font-size: 30px;
    color: #FAFAFA;



}
.imagen-pantalla{
    height: 138px;
    width: 128.03px;
    
    
}

.parrafos-mis-servicios{
    text-align: center;
    width: 262px;
    height: 117px;
    font-family: "Indie Flower";
    font-size: 16px;
    color:  #FAFAFA;
}
.columna-servicios{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*@media de hoja de servicios*/
@media(min-width:769px){
    .servicios{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-around;
        align-items: center;
        width: auto;
    
    }
    .div-servicios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subtitulos-servicios{
        font-family: "Indie Flower";
        font-size: 48px;
        letter-spacing: -1px;
        text-align: center;
        color: #FAFAFA;
        margin-bottom: 53px;
    }
    .subtitulos-h3{
        font-family: "Indie Flower";
        font-weight: 700;
        font-size: 24px;
        color:  #FAFAFA;
    
    
    
    }
    .imagen-pantalla{
        height: 138px;
        width: 128.03px;
        
    }
    .imagen-pantalla2{
        height: 138px;
        width: 128.03px;
        margin-top: 100px;
    
    }
    .parrafos-mis-servicios{
        text-align: center;
        width: 262px;
        height: 117px;
        font-family: "Indie Flower";
        font-size: 16px;
        color:  #FAFAFA;
    }

    .columna-servicios{
         display: flex;
         flex-direction: row;
         width: 100%;
         align-items: flex-end;
         justify-content: space-around;
    }
}

/* pagina form*/
.servicios-template{
    display: flex;
    flex-direction: column;
}
@media(min-width:720px)
{
    .servicios-template{
        display: flex;
        flex-direction: row;
    }
}
.contacto-container{
    min-height: 475px;
    width: 100%;
}
.footer-container{
    min-height: 475px;
    width: 100%;
}